name: Publish Wiki

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/workflows/publish_wiki.yml'
  workflow_dispatch:

jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Publish Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: docs
          token: ${{ secrets.WIKI_TOKEN }}
